@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color:rgb(248, 210, 159) !important;
    overflow-x: hidden;
    color: #130D4C;
}

/* nav */
.nav{
    display: flex;
    width:100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(235, 187, 124);
    padding: 20px 20px;   
    /* background-image: url("./img/desert.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

.nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
   
}
.nav ul li {
    list-style: none;   
}

.nav ul li a{
    text-decoration: none;
    color: #130D4C;
    outline: none;
}

.nav ul li a:hover{
    color: #fff;
    text-shadow: 0 0 5px #fff;
    transition: all 0.4s;
}

.logo{
    display: flex;
    flex-flow: row;
    height: 80%;
    width: 40%;
    align-items: center;
    margin-left: -5%;
}
#img img{
    background-image: url(./img/logo/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     width: 50px;  
}
.name{
   font-size: 1.2em;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   color: #130D4C;
}
.others{
    text-decoration: none;
    color: #130D4C;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:1100px) and (min-width: 600px){
    .nav{
        height: 12vh;
    }
    .nav ul li{
        padding: 0 10px 0 0;
    }
}

@media (max-width: 600px)
{
    .nav{
       flex-direction: column;
       height: 30vh;
       justify-content: center;
       text-align: center;
       align-items: center;
       padding: 10px 0px;
    }

    .logo{
        width: 80vw;
    }
    .nav ul{
        width: 80vw;
        padding: 10px;
        flex-wrap: wrap;
    }
    .nav ul li{
        padding: 0 10px 10px 0;
    }
}

/* card css */

.card-container{
    display: flex;
    width: 100vw;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.movie-card{
    height: 55vh;
    margin: 9vh 0px;
    border-radius: 10px;
    transition: all 0.4s;
    display: flex;
    position: relative;
}
.blank{
    display: none;
}

.inner-div{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 40%;
    color: #fff;
    box-shadow: 10px 0px 60px 65px rgba(0,0,0,0.7);
    padding: 25px;
}

.mov-btn{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    border: none;
    background-color: #130D4C;
    font-size: 25px;
    letter-spacing: 2px;
}
.mov-btn a{
    text-decoration: none;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    color: #fff;
}

.mov-btn a:hover{
    text-decoration: none;
}

.head{
    display: flex;
}

.right{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h1, h4, p{
    font-weight: 400;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    margin: 3px 0px;
}

.inner-div p{
    margin: 10px 0px;
}

.bePart{
    background-image: url("./img/art.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px #fff;
    overflow: hidden;
    width: 40%;
}

.explore{
    background-image: url("./img/puri.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px #fff;       
    overflow: hidden; 
    width: 40%;                                                                            
}

.movie-card:hover{
    transform: scale(1.04);
    transition: all 0.4s;
}

@media (max-width: 1100px) and (min-width: 660px){
    .card-container{
        position: relative;
        height: 80vh;
    }
    .explore{
        position: absolute;
        top: -32px;
        left: 20px;
    }
    .bePart{
        position: absolute;
        top: -32px;
        right: 20px;
    }
    .blank{
        display: block;
        width: 100%;
        height: 60%;
        background: none;
    }
    .movie-card{
        display: flex;
        flex-direction: column;
        width: 46vw;
        height: 70vh;
    }
    .inner-div{
        height: 40%;
        width: 100%;
    }
    .movie-card:hover{
        transform: scale(1.1);
        transition: all 0.4s;
    }
    .head{
        position: relative;
        top: -130px;
    }
    .content{
        position: relative;
        top: -150px;
    }
}

@media (max-width:660px) and (min-width: 500px){
    .card-container{
        flex-direction: column;
        height: 200vh;
    }
    .bePart{
        margin: 0 0 40px 0;
        width: 90%;
        height: 100vh;
    }
    .explore{
        margin: 0;
        width: 90%;
        height: 100vh;
    }
}

@media (max-width: 500px){
    .card-container{
        flex-direction: column;
        height: 120vh;
    }
    .movie-card{
        padding: 20px 10px;
        margin: 3vh 0px 3vh 0px;
    }
    .blank{
        display: block;
        width: 100%;
        height: 40%;
        background: none;
    }
    .inner-div{
        height: 60%;
        width: 100%;
        padding: 0;
    }
    .right{
        width: 100%;
    }
    .bePart{
        width: 90%;
        height: 60vh;
        flex-direction: column;
    }
    .explore{
        width: 90%;
        height: 60vh;
        flex-direction: column;
    }

    .right h1{
        margin: 0;
    }
    .right h4{
        margin: 0;
    }
    .right p{
        margin: 0;
    }
}

/* rathore slider*/

 .slider{
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    position: relative;
}

.imageChange{
  position: relative;
}

 .slide img{
    width:100%;
    height:100%;
    cursor: pointer;
  }

  .slide{
      display: block;
  }

  @media (max-width:1000px) and (min-width:500px){
    .slider{
        height: 39vh;
    }
    .lef-siz{
        background: none;
        position: absolute !important;
        top: 50% !important;
        left: 0 !important;
        transform: translateY(-50%);
    }
    .rig-siz{
      position: absolute !important;
      top: 50% !important;
      right: 0 !important;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 500px){
      .slider{
          height: 30vh;
      }

      .lef-siz{
          background: none;
          position: absolute !important;
          top: 50% !important;
          left: 0 !important;
          transform: translateY(-50%);
      }
      .rig-siz{
        position: absolute !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%);
      }
  }

  /* footer */
  .footer{
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(235, 187, 124);
    padding: 20px 20px;   
    margin-top: 30px;
}
.rights .career .mail .icons .policy{
    display: flex;
    justify-content: space-between;
    width: 40%;
    word-spacing: 5%;
}
.rig-h{
    text-decoration: none;
    font-size: 0.8em;
    color: #130D4C;
    font-family: 'Montserrat', sans-serif;
}
.careers a, .policy a{
    text-decoration: none;
    font-size: 0.8em;
    color: #130D4C;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.careers a:hover{
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.policy a:hover{
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.icons a{
    text-decoration: none;
    font-size: 1.5em;
    color: #130D4C;
    font-family: 'Montserrat', sans-serif;
}

.icons a:hover{
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

.f-name{
    
    letter-spacing: 2px;
    font-size: 1em;  
}
.f-name:hover{
    color: black
}
.rights{
    line-height: 150% ;
}
.tag{
    margin-left: 5px;
}
.input{
    width: 241px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 0.8em;
}
.inputt{
    padding: 5px 10px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: #130D4C;
    border-top-right-radius: 5px;
    margin-left: -5%;
    border-bottom-right-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
}

@media (max-width:1100px) and (min-width:760px){
    .input{
        width: 30vw;
    }
    .inputt{
        padding: 5px 8px;
        letter-spacing: normal;
    }
}

@media (max-width:760px){
    .footer{
        display: flex;
        flex-direction:column;
        height: 40vh;
    }
    .careers{
        margin: 10px 0px 0 0;   
        padding-top: 10px;
        width: 100%;
        padding-left: 10px;
    }
    
    .policy{
        margin: 0px 0px 10px 0;
        padding-bottom: 10px;
        width: 100%;
        padding-left: 10px;
    }
    .icons{
      padding-top: 10px;
    }
    .rig-h{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input{
        width: 151px;
    }
    .inputt{
        padding: 3px 5px;
        letter-spacing: 0rem;
    }
    .f-name{
        padding-left: 5px;
    }
}



/* About us */
.about{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    max-width: 800px;
    color: #130D4C;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px 40px;
    font-weight: 16px;
}
.about h1{
    margin: 0;
    text-align: center;
    padding: 10px;
}
.about ul li{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}


@media (max-width:500px){
    .about{
        width: 90vw;
    }
    .about h1{
        font-size: medium;
        font-weight: 700;
    }
    .about ul li{
        font-size: 14px;
        font-weight: 400;
    }
}


/* serarch bar */
.src-bar-container{
    width: 80vw;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;
}
.ser-flex{
    display: flex;
    width: 80%;
    justify-content: center;
}
.ser-flex input{
    border: 1px solid #dedede;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 20px 0;
}

.ser-flex button{
    border: 1px solid #dedede;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 20px 0;
    width: 50px;
}

.ser-flex input[type="text"]{
    width: 100%;
    outline: none;
}

.ser-btn{
    cursor: pointer;
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (max-width:500px){
    .src-bar-container{
        width: 100vw;
    }
}